.transactions {
  max-height: 90vh;
  padding-left: 1rem;

  .header {
    font-weight: 500;
    border-top: none;

    position: sticky;
    top: 0;

    // overflow: hidden;
    background-color: white;
    border-bottom: 1px solid rgb(212, 212, 212);
    // border-radius: 1cap;
  }
  li {
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid rgb(212, 212, 212);

    padding: 0.5rem;

    &:hover {
      cursor: pointer;
      background-color: #ddf1fe;
      transition: all 0.5 ease;
    }

    input {
      width: 20px;
      height: 20px;
    }

    p {
      width: 20%;
      padding: 1rem;
    }

    .green {
      color: green;
      font-weight: 500;
    }

    .red {
      color: red;
      font-weight: 500;
    }

    .date {
      font-weight: 500;
    }
  }
}
