.transactions {
  width: 750px;
  height: 85vh;

  border: 1px solid rgb(212, 212, 212);
  border-radius: 1cap;

  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;

  overflow: scroll;

  &::-webkit-scrollbar {
    border-radius: 2cap;
    background-color: inherit;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    height: 50px;
    background-color: rgb(212, 212, 212);
  }

  .header {
    background-color: inherit;
    font-weight: 500;
    border-top: none;
  }
  li {
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid rgb(212, 212, 212);

    padding: 0.5rem;

    &:hover {
      cursor: pointer;
      background-color: #ddf1fe;
      transition: all 0.5 ease;
    }

    input {
      width: 20px;
      height: 20px;
    }

    p {
      width: 20%;
      padding: 1rem;
    }

    .green {
      color: green;
      font-weight: 500;
    }

    .red {
      color: red;
      font-weight: 500;
    }

    .date {
      font-weight: 500;
    }
  }
}
