form {
  min-height: 60vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  border: 1px solid lightgray;
  border-radius: 1cap;
  padding: 1rem;

  section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-weight: 300;
      font-size: 1.6rem;
    }

    .icon {
      font-size: 1.6rem;
    }
  }

  label {
    font-size: 1.2rem;
    font-weight: 400;

    color: #006489;
  }

  input,
  select {
    font-size: 1.3rem;

    border: 1px solid #006489;
    border-radius: 1cap;

    padding: 0.5rem;
  }

  button {
    font-size: 1rem;
    font-weight: bold;

    padding: 1rem 2rem 1rem 2rem;

    border-radius: 1cap;
    border: 1px solid #006489;

    background-color: #006489;
    color: white;

    &:hover {
      cursor: pointer;
      color: #006489;
      background-color: white;
      transition: all 0.15s ease;
    }
  }
}
