.container {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .icon {
    font-size: 1.5rem;
    color: #0e5183;
  }

  button {
    background-color: inherit;

    &:hover {
      cursor: pointer;
      transform: scale(0.9);
      transition: all 0.15s ease;
    }
  }

  .user {
    display: flex;
    align-items: center;

    div {
      width: 40px;
      height: 40px;

      border-radius: 50%;
      overflow: hidden;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
    }

    p {
      margin-left: 0.8rem;
      font-weight: 600;
    }
  }
}
