.container {
  // width: 100%;
  height: 100vh;

  // display: flex;
  // justify-content: space-between;

  display: grid;
  grid-template-areas: "a b c";
  grid-template-columns: 0.4fr 1fr 0.4fr;
  gap: 3rem;
}
